

@font-face {
  font-family: 'fragment';
  src: url('font/fragment/ppfragment-textregular.woff2'
  ) format('woff2'),
       url('font/fragment/ppfragment-textregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1) ;
  display: grid;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "fragment", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 240px;
  margin: unset;
  filter: invert(1);
}

.dot {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: yellow;
  position: absolute;
}

.dot-blue {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  transition: all .3s ease;
  background-color: blue;
}

.drops {
  transition: all .3s ease-in-out;
  position: absolute;
  background-color: white;
  width: 100px;
  height: 20px;
}

.line {
  transition: all .3s ease-in-out;
  position: absolute;
  background-color: white;
  width: 100px;
  height: 20px;
}